                Options Indexes FollowSymLinks MultiViews
                DirectoryIndex app.php
                AllowOverride All
                Require all granted
        </Directory>
        
</VirtualHost>
