<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FactorioWebView | {% block title %}Dashboard{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="https://eu2.factorio.com/assets/img/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="https://eu2.factorio.com/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    {% include "css.html.twig" %}
    {% block css %}{% endblock %}
</head>
<body class="skin-black">

<div id="popup-notification">
    <span>
    </span>
</div>

<div class="wrapper">

    {% include "header.html.twig" %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel" id="panel">
                    <div class="pull-left image">
                        <img src="{{ asset('lib/local/img/factorio-200.jpg') }}" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>{{ app.user.username }}</p>

                        <a href="#"><i class="fa fa-circle"></i> Server Offline</a>
                    </div>
                </div>
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search..."/>
                        <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
                    </div>
                </form>
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    {% block dashboard_list_item %}<li>{% endblock %}<a href="{{ path('fwv_manager_homepage') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    {% block manage_list_item %}<li>{% endblock %}<a href="{{ path('fwv_manager_manage') }}"><i class="fa fa-wrench"></i> Manage</a></li>
                </ul>
            </section>
        </aside>
    {% endif %}

    {% block body %}{% endblock %}

    {% include "footer.html.twig" %}

</div>

{% include "js.html.twig" %}

{% block javascripts %}{% endblock %}
</body>
</html>