<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2017-2018 <a href="https://theodore.wittmann.ovh">Théodore Wittmann</a>.</strong> All rights reserved.
</footer>