{% extends "::base.html.twig" %}

{% block logs_list_item %}<li class="active">{% endblock %}

    {% block body %}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Logs
                    <small>Monitoring panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Logs</li>
                </ol>
            </section>
            <section class="content">
                <div class="row" id="manage-first-row">
                    <div class="col-md-12">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Logs</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body" style="display: block;">
                                <div class="table-responsive">
                                    <table class="table no-margin" id="log-table">
                                        <thead>
                                        <tr>
                                            <th><span>Timestamp</span><span>Information</span></th>
                                        </tr>
                                        </thead>
                                        <tbody id="logs">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endblock %}

    {% block javascripts %}
    <script>
        $(document).ready(function () {
            getLogs('{{ path('fwv_manager_logs') }}');
        });
    </script>
{% endblock %}